.*.swp
tags
**/__pycache__/**
.coverage
/.vscode
/.idea
.eggs/
AUTHORS
ChangeLog
build
clinical_mdr_api.egg-info
dist
requirements.txt
.hypothesis
int_report.xml
unit_report.xml
linting_report.txt
.env