[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
okta-jwt = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3"

[packages.python-jose]
extras = [ "cryptography",]
version = "*"
